# **problem**-2.1

In [ ]:
# Creating variables
name = "Rahat"
age = 21
favorite_color = "Black"

# Printing with descriptive labels
print("Name:", name)
print("Age:", age)
print("Favorite Color:", favorite_color)

Name: Rahat
Age: 21
Favorite Color: Black

# **problem** -2.2

In [ ]:

integer_var = 25          # int
float_var = 12.5          # float
string_var = "Hello"      # str
boolean_var = True        # bool
list_var = [1, 2, 3]      # list
tuple_var = (4, 5, 6)     # tuple
dict_var = {"name": "Rahat", "age": 21}  # dict
set_var = {10, 20, 30}    # set


print("Type of integer_var:", type(integer_var))
print("Type of float_var:", type(float_var))
print("Type of string_var:", type(string_var))
print("Type of boolean_var:", type(boolean_var))
print("Type of list_var:", type(list_var))
print("Type of tuple_var:", type(tuple_var))
print("Type of dict_var:", type(dict_var))
print("Type of set_var:", type(set_var))

Type of integer_var: <class 'int'>
Type of float_var: <class 'float'>
Type of string_var: <class 'str'>
Type of boolean_var: <class 'bool'>
Type of list_var: <class 'list'>
Type of tuple_var: <class 'tuple'>
Type of dict_var: <class 'dict'>
Type of set_var: <class 'set'>

# **problem**-2.3

In [ ]:

length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)


print("Length:", length)
print("Width:", width)
print("Area of Rectangle:", area)
print("Perimeter of Rectangle:", perimeter)

Length: 7
Width: 5
Area of Rectangle: 35
Perimeter of Rectangle: 24

# **problem** -2.4

In [1]:
foods = ["Biriyani", "Hilsa Fish Curry", "Kacchi Biriyani", "Panta Ilish", "Rasgulla"]

print("First food:", foods[0])
print("Last food:", foods[-1])

First food: Biriyani
Last food: Rasgulla

# problem **-2.5**

In [ ]:
numbers = [10, 5, 8, 20, 15]

numbers.append(25)
numbers.remove(8)
numbers.sort()

print(numbers)

[5, 10, 15, 20, 25]

# **problem-2.6**

In [4]:
my_info = {
    "name": "Rahat",
     "age": 21,
    "city": "Dhaka",
    "University": "State University Of Bangladesh"

}
print(my_info)

{'name': 'Rahat', 'age': 21, 'city': 'Dhaka', 'University': 'State University Of Bangladesh'}

# **problem-2.7**

In [5]:
famous_place = ("sundarban", (21.9497,89.1833))
print(famous_place)

('sundarban', (21.9497, 89.1833))

# **problem-2.8**

In [7]:
set1 = {"simanto", "rahat", "atik", "monir"}
set2 = {"red", "rahat", "green", "simanto"}

union_name = set1.union(set2)
intersection_name = set1.intersection(set2)

print("union: ", union_name)
print("intersection: ", intersection_name)

union:  {'monir', 'rahat', 'red', 'green', 'atik', 'simanto'}
intersection:  {'rahat', 'simanto'}

# **problem-2.9**

In [10]:
num = int(input("number: "))
if num > 0:
  print("positive number")
elif num < 0:
  print("negative number")
else:
  print("Number is Zero")

number: 0
Number is Zero

# **problem-2.10**