<a href="https://colab.research.google.com/github/noruzzaman-rahat/Paython-problems/blob/main/Paython_Assingment02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **problem**-2.1

In [ ]:
# Creating variables
name = "Rahat"
age = 21
favorite_color = "Black"

# Printing with descriptive labels
print("Name:", name)
print("Age:", age)
print("Favorite Color:", favorite_color)

Name: Rahat
Age: 21
Favorite Color: Black

# **problem** -2.2

In [ ]:

integer_var = 25          # int
float_var = 12.5          # float
string_var = "Hello"      # str
boolean_var = True        # bool
list_var = [1, 2, 3]      # list
tuple_var = (4, 5, 6)     # tuple
dict_var = {"name": "Rahat", "age": 21}  # dict
set_var = {10, 20, 30}    # set


print("Type of integer_var:", type(integer_var))
print("Type of float_var:", type(float_var))
print("Type of string_var:", type(string_var))
print("Type of boolean_var:", type(boolean_var))
print("Type of list_var:", type(list_var))
print("Type of tuple_var:", type(tuple_var))
print("Type of dict_var:", type(dict_var))
print("Type of set_var:", type(set_var))

Type of integer_var: <class 'int'>
Type of float_var: <class 'float'>
Type of string_var: <class 'str'>
Type of boolean_var: <class 'bool'>
Type of list_var: <class 'list'>
Type of tuple_var: <class 'tuple'>
Type of dict_var: <class 'dict'>
Type of set_var: <class 'set'>

# **problem**-2.3

In [ ]:

length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)


print("Length:", length)
print("Width:", width)
print("Area of Rectangle:", area)
print("Perimeter of Rectangle:", perimeter)

Length: 7
Width: 5
Area of Rectangle: 35
Perimeter of Rectangle: 24

# **problem** -2.4

In [ ]:
foods = ["Biriyani", "Hilsa Fish Curry", "Kacchi Biriyani", "Panta Ilish", "Rasgulla"]

print("First food:", foods[0])
print("Last food:", foods[-1])

First food: Biriyani
Last food: Rasgulla

# problem **-2.5**

In [ ]:
numbers = [10, 5, 8, 20, 15]

numbers.append(25)
numbers.remove(8)
numbers.sort()

print(numbers)

[5, 10, 15, 20, 25]

# **problem-2.6**

In [ ]:
my_info = {
    "name": "Rahat",
     "age": 21,
    "city": "Dhaka",
    "University": "State University Of Bangladesh"

}
print(my_info)

{'name': 'Rahat', 'age': 21, 'city': 'Dhaka', 'University': 'State University Of Bangladesh'}

# **problem-2.7**

In [ ]:
famous_place = ("sundarban", (21.9497,89.1833))
print(famous_place)

('sundarban', (21.9497, 89.1833))

# **problem-2.8**

In [ ]:
set1 = {"simanto", "rahat", "atik", "monir"}
set2 = {"red", "rahat", "green", "simanto"}

union_name = set1.union(set2)
intersection_name = set1.intersection(set2)

print("union: ", union_name)
print("intersection: ", intersection_name)

union:  {'monir', 'rahat', 'red', 'green', 'atik', 'simanto'}
intersection:  {'rahat', 'simanto'}

# **problem-2.9**

In [ ]:
num = int(input("number: "))
if num > 0:
  print("positive number")
elif num < 0:
  print("negative number")
else:
  print("Number is Zero")

number: 0
Number is Zero

# **problem-2.10**

In [13]:


age = int(input("Enter your age: "))
student_status = input("Are you a student? (yes/no): ").strip().lower()

if age < 25:
    if student_status == "yes":
        print("Eligible for discount")
    else:
        print("Not eligible for discount")
else:
    if age > 60:
        print("Eligible for discount")
    else:
        print("Not eligible for discount")

Enter your age: 22
Are you a student? (yes/no): yes
Eligible for discount

# **problem-2.11**

In [15]:
 #using for loop
for i in range(1, 11):
    print(i * 2)

2
4
6
8
10
12
14
16
18
20

# **problem-2.11**

In [16]:
#using while loop
count = 1
while count <= 10:
    print(count * 2)
    count += 1

2
4
6
8
10
12
14
16
18
20

# **problem-2.12**

In [18]:


rows = int(input("number of rows: "))

for i in range(1, rows + 1):

    for j in range(rows - i):
        print(" ", end=" ")


    for j in range(1, i + 1):
        print(j, end=" ")


    for j in range(i - 1, 0, -1):
        print(j, end=" ")

    print()

number of rows: 3
    1
  1 2 1
1 2 3 2 1

# **problem-2.13**

In [19]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit


c = float(input("Enter temperature in Celsius: "))
f = celsius_to_fahrenheit(c)
print(f"{c}°C = {f}°F")

Enter temperature in Celsius: 0
0.0°C = 32.0°F

# **problem-2.14**

In [22]:
def rectangle_area(length=5, width=10):
    return length * width

# Example usage:
print("Default area:", rectangle_area())

Default area: 50